<main>
    <h1>Register</h1>
    <form id="registerForm">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required placeholder="Username">

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required placeholder="First Name">

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required placeholder="Last Name">

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required placeholder="Email">

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required placeholder="Password">

        <label for="favoriteGenres">Favorite Genres (comma-separated):</label>
        <input type="text" id="favoriteGenres" name="favoriteGenres" placeholder="Favorite Genres">

        <button type="submit">Register</button>
        
        <div id="registerError" style="color:red;"></div>
        <div id="registerSuccess" style="color:green;"></div>
    </form>
    <script src="/public/js/script.js"></script>
</main>
